<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataBase.Properties.Settings.whomake_database_onConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=whomake_database_on;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>