<div class="form-reg form-horizontal">    
<div class="row">
        <h2 class="index_heading">Сайт поиска заказов и исполнителей в Барнауле!</h2>
        <br />
    </div>
    <div class="row">
        <img width="100%" src="~/Content/Images/index/indexImage.jpg">
    </div>
<br />
    <div class="row">
        <div class="col-md-offset-1 col-md-5 block_index_left">
            <h4 class="text_in_block">Заказчикам</h4>
            <p>Регистрируйтесь, размещайте задания и выбирайте исполнителей.</p>
            <a><div class="block_index_but_left"><span>Стать заказчиком</span></div></a>
        </div>

        <div class="col-md-5 block_index_right">
            <h4 class="text_in_block">Исполнителям</h4>
            <p>Регистрируйтесь, заполняйте профиль, выполняйте задания.</p>
            <a><div class="block_index_but_right"><span>Стать исполнителем</span></div></a>
        </div>

    </div>
         <div class="index_text">
        
                <br />
                <div class="index_text_indent">
                    Как все работает?
                </div><br>
                <div class="b-index-advantage__item__title">1. Создавайте задания</div>
                <p>
                    Во вкладке "Создать задание" выберите категорию, вид услуги, кратко опишите что необходимо сделать, укажите цену, которую Вы готовы заплатить за выполненную работу
                    или оказанные услуги, обозначьте сроки, когда начать, закончить или период. Так же необходимо указать Город и контактный телефон, чтобы Исполнители могли связаться с Вами.
                </p>
                <br>
                <div class="index_text_indent">2. Становитесь исполнителем</div>
                <p>
                    Чтобы стать исполнителем, необходимо пройти процедуру регистрации и заполнения личного профиля. Подробнее о том, как правильно заполнить профиль читайте
                    в этой статье. Вся информация проверяется Администрацией сайта. Если Вы правильно все заполнили, Вы получите статус "Исполнитель".
                    Как только Вы станете исполнителем, Вам будет предоставлен доступ ко всем заданиям на сайте. Стать исполнителем
                </p><br>
                <div class="index_text_indent">3. Условия сотрудничества</div>
                <p>
                    Для заказчиков - возможность оставлять задания бесплатная. <br><br>
                    Для исполнителей -
                    После получения статуса "Исполнитель" вы сможете выбирать и выполнять интересующие Вас задания. Чтобы предложить заказчику свои услуги и увидеть контактную информацию заказчика,
                    исполнителю необходимо оплатить задание. Оплата за каждое задание разовая (от 20 рублей в зависимости от категории задания).
                    Для оплаты необходимо пополнить свой личный счет удобным для Вас способом. После оплаты задания, контакты заказчика становятся видны
                    исполнителю.
                </p><br>
                <div class="index_text_indent">4. Как работать</div>
                <p>
                    Как только Заказчик и Исполнитель обсудили все условия выполнения заказа и пришли к соглашению, необходимо зафиксировать начало работ на сайте.<br>
                    Действия для Заказчика - по умолчанию статус для задания назначается "Открыто". Это говорит о том, что к выполнению задания еще никто не преступил. Если все условия оговорены
                    и обе стороны (Заказчик и Исполнитель) готовы приступить к работе, заказчик в своем личном профиле указывает статус для задания - "Выполняется". Как только статус у задание станет
                    "Выполняется", Исполнители не смогут оставлять свои предложения.<br><br>
                    Для Исполнителя - у каждого Исполнителя есть свой личный профиль, в котором отображается вся необходимая информация. По умолчанию у каждого исполнителя установлен статус "Свободен".
                    Как только Вы приступили к выполнению задания необходимо установить статус "Занят".
                </p>
          
        </div>

    </div>
