
@{
    string style = "";
    if (ViewBag.AnswerType == "error")
    { style = "font-size: 22px;color:#ff4e4e;"; }
    else
    {
        if (ViewBag.AnswerType == "success")
        { style = "font-size: 20px;color:#0b9029;"; }
    }

    ViewData["TypeError"] = ViewBag.AnswerType;
}
<p style="@style">@ViewBag.AnswerReg</p> 